@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .spinner {
        @apply absolute left-1/2 animate-spin w-4 h-4 min-w-4 rounded-full border-2  border-gray-400 border-b-gray-700
    }

    .icon-edit {
        background-color: red;
        -webkit-mask-image: url("/static/edit_icon.svg");
        mask-image: url("/static/edit_icon.svg");
        mask-size: contain;
        mask-position: center center;
    }
}
